<div class="titulo">
  <div><h1>Seu carrinho</h1></div>
  <div class="botao-limpar"><button  mat-raised-button color="primary" (click)="limparCarrinho()"><mat-icon>remove_shopping_cart</mat-icon></button></div>
</div>

<div class="centro">
  <table>
    <tr>
      <th>Item</th>
      <th class="largura-menor">Quantidade</th>
      <th class="largura-menor center">Preço</th>
      <th class="largura-menor center">Total</th>
    </tr>
    <tr *ngFor="let item of carrinho.itensDTO">
      <td>
        <div class="conteudo-item">
          <div><img class="capa" src="{{ item.livroCarrinhoDTO.capa }}" alt="" /></div>
          <div>{{ item.livroCarrinhoDTO.titulo }}</div>
        </div>
      </td>
      <td> 
        <div class="inputECtrls">
          <button *ngIf="item.quantidadeDeLivros > 1" class="ctrl" (click)="diminuirItem(item.id)">-</button>
          <button *ngIf="item.quantidadeDeLivros == 1" class="ctrl" (click)="removerItem(carrinho.id, item)">-</button>         
          {{item.quantidadeDeLivros}}
          <button class="ctrl"(click)="aumentarItem(item.id)">+</button>
        </div>        
      </td>
      <td class="center">{{ item.livroCarrinhoDTO.preco | currency: "BRL" }}</td>
      <td class="center">{{ calcularPreco(item.livroCarrinhoDTO.preco, item.quantidadeDeLivros) | currency: "BRL" }}</td>
    </tr>
  </table>
  <div class="precoTotal">
    <div>Preço final</div>
    <div>
    {{carrinho.precoTotal | currency: "BRL" }}
  </div>
  </div>
</div>
